@charset "utf-8";/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Engagement|Montserrat:100,200,300,400,500,600,700,800,900');

body {color: #3d3d3d;font-family: 'Montserrat', sans-serif;	font-size: 13px; margin:0; }
h1, h2, h3, h4, h5, h6 {font-family: 'Montserrat', sans-serif; margin:0; }
p{line-height: 24px;}
ul, li {padding: 0;	list-style: none; margin:0;}
a:focus { text-decoration: none ; }
a:focus, a:hover { color: #ffbc05; text-decoration: none; }
a, button, input { outline: medium none; color: #ffbc05; }
img {max-width: 100%;}
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background:#F5CA00;
}

::selection {
    color: #fff;
    background:#F5CA00;
}
h2 { font-size: 50px; font-style: normal; line-height: 50px; font-family: 'Engagement', cursive; color: #000; text-transform: capitalize;}
#main-slider h1{font-size: 80px; font-style: normal; line-height: 114px; font-family: 'Engagement', cursive; color: #fff; text-transform: capitalize; margin-top:50px;}
#main-slider h1 span{ color:#FDB30A}
h2.title2{font-size:40px; line-height:50px;}
.gray-bg{ background:#F0F0F0;}
section{ padding:50px 0;}
.section-title h2 {  position: relative; padding-bottom: 35px;margin-bottom: 15px;}
.section-title h2::after {
    position: absolute;
    content: "";
    width: 236px;
    height: 18px;
    background:url(../images/title_border2.png) no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.section-title p{font-size: 16px;line-height: 30px;margin-bottom: 0;}
.section-title.row {    width: 60%;   margin: 0 auto 30px;}
#main-slider{ background:url(../images/banner1.jpg) no-repeat center; background-size:cover; position:relative; padding-bottom:0}
#main-slider::before {

    background: linear-gradient(270deg, #fe704366, #00000069);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

}
#main-slider .container{ position:relative; z-index:9}
.banner-form h4 {
    background: #EC155A;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    line-height: 22px; font-weight:500
}
.form-inner {
    background: rgba(0, 0, 0, 0.3);
    float: left;
    width: 100%;
    padding: 30px;
    color: #fff;
}
.form-inner .form-group {
    float: left;
    width: 100%;margin-bottom: 30px;
}
.form-inner .form-control,.selectpicker {
    background:;
    border: none;
    padding: 10px 15px;
    width: 100%;
    -moz-appearance: none;
    color: #000;
    font-weight: 500;
    font-size: 15px;border-radius: 50px; background: rgba(234, 234, 234, 0.5) url(../images/select-icon.png) no-repeat  95% center;
}
.select-left {

    width: 40%;
    float: left;

}
.form-inner .control-label {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
}
.select-divider {

    float: left;
    width: 20%;
    text-align: center;
    font-size: 30px;

}
.form-inner .form-control{ background-image:none; font-size:13px; height:40px;}
.form-inner .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.form-inner .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.btn-bg{background: #feb907;

background: -moz-linear-gradient(left, #feb907 0%, #df2358 100%);

background: -webkit-linear-gradient(left, #feb907 0%,#df2358 100%);

background: linear-gradient(to right, #feb907 0%,#df2358 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb907', endColorstr='#df2358',GradientType=1 );}
.btn-primary{display: inline-block;

color: #fff;

text-transform: capitalize;

font-size: 18px;

padding: 10px 30px;

border-radius: 50px; border:none; width:100%; margin:15px 0 0}

.page-section-ptb h4{ font-size:20px; font-weight:500; text-transform:uppercase; margin:15px 0; position:relative;padding-bottom: 15px;}
.page-section-ptb h4::after {
    position: absolute;
    content: "";
    width: 97px;
    height:3px;
background: #feb907; /* Old browsers */
background: -moz-linear-gradient(left, #feb907 0%, #df2358 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #feb907 0%,#df2358 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #feb907 0%,#df2358 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb907', endColorstr='#df2358',GradientType=1 ); /* IE6-9 */
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.owl-item .user_img img { margin:0 auto;    border-radius: 50%;}
.owl-item h3 {
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0 5px;
}
.owl-item p {

    font-size: 15px;
    color: #666;
    font-weight: 500;

}
.owl-item a {

    display: inline-block;
    color: #df2258;
    font-size: 18px;
    border: 1px solid #df2258;
    padding: 6px 20px;
    border-radius: 5px;transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;

}
.owl-item a:hover{ background:#ec155a; color:#fff}
.feature-icon  {
    background: #df2258;
    color: #fff;
    width:100px;
    height: 100px;
    text-align: center;
    line-height: 87px;
    font-size: 40px;
    border-radius: 50%; margin:0 auto; position:relative;
}
.page-section-feature h3 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
}
#owl-carousel1 .tuser_img {
    width: 100px;
    margin: 0 auto 20px;
}
#owl-carousel1 .tuser_img img {
    border-radius: 50%;
}
#owl-carousel1 {
    width: 80%;
    margin: 0 auto;
}
#owl-carousel1 p {
    font-size: 13px;
}
#owl-carousel1 h3 {
    font-size: 16px;
    text-transform: uppercase;
}
#owl-carousel1 h3 span {
    text-transform: capitalize;
    color: #DF2258;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span::before {
    content: "\f004";
    font-family: FontAwesome;
    font-size: 20px;
    position: absolute;
    color: #c2cfd7;
}
.owl-dots .owl-dot span:hover:before { color:#ec155a !important;}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span::before {
    color: #ffbc05;
    font-size: 24px;
}
.owl-carousel .owl-dots {
    display: inline-block;
    cursor: pointer;
    text-align: center;
	    float: left;
    width: 100%;
    position: relative !important;
    z-index: 999;margin: 15px 0 0;

}
.owl-carousel.owl-theme .owl-dots .owl-dot span {

    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    cursor: pointer;
display: block;

width: 100%;

position: relative;
}
 .owl-dot {
    display: inline-block;

margin-right: 15px;

position: relative;

line-height: 0 !important;

width: 20px;

height: 20px;
}



.page-section-subscribe{ background:url(../images/bg-5.jpg) no-repeat fixed center; background-size:cover; position:relative; padding:80px 0; color:#fff;}
.page-section-subscribe::before {
    background: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:3;
}
.page-section-subscribe .container{ z-index:9; position:relative;}
.page-section-contact .section-title h2,.page-section-subscribe .section-title h2{ color:#fff}
.page-section-subscribe a{background: #feb907;

background: -moz-linear-gradient(left, #feb907 0%, #df2358 100%);

background: -webkit-linear-gradient(left, #feb907 0%,#df2358 100%);

background: linear-gradient(to right, #feb907 0%,#df2358 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb907', endColorstr='#df2358',GradientType=1 ); display:inline-block; color:#fff; text-transform: capitalize;

font-size: 18px;

padding: 10px 40px;

border-radius: 50px;}
.page-section-contact{ background:url(../images/bg1.png); color:#fff;}
.contact-icon i {
    font-size: 50px;
    color: #FFBB05;
}
.page-section-contact a{ color:#fff}
.page-section-contact p{ font-size:16px;}
footer { color:#fff;    background: #000;   padding: 15px 0;}
footer ul li {

    display: inline-block;
    margin: 15px 10px;

}footer ul li a {

    color: #fff;
    font-size: 16px;

}
.footer-logo {

    width: 200px;
    margin: 0 auto;

}

header a{ color:#fff;}
header{ background:#ffbc05; padding:5px 0}
.navbar li {    display: inline-block;    margin-left: 40px;}
.navbar li .nav-icon {
    display: none;
}
.navbar li a {
    font-size: 14px; -webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar li a:hover{ color:#EC155A}
.navbar li:last-child a:hover{ background:#EC155A; color:#fff;}
.navbar li:last-child a {

    border: 2px solid #fff;
    padding: 8px 30px;
    display: block;
    text-transform: capitalize;
    font-size: 17px;
    border-radius: 3px;

}
.dropdown-menu > li > a {

    padding: 10px 20px;

}
.navbar {

    margin: 10px 0 0;

}
header .dropdown-toggle {

    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    margin:12px 0 0 20px;

}
.search_list_outer .col-md-3 {

    padding: 0;

}
.single-service-item {
    position: relative;
    margin-bottom: 10px;
}
.single-service-item .img-holder {
    position: relative;
    overflow: hidden;
    display: block;
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
}
.single-service-item .img-holder img {
    width: 100%;
}
.single-service-item .inner-content {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
	padding:20px 0;
   
    transform: translate3d(0px,0%,0px);
    transition: all 700ms ease;
        transition-delay: 0s;
    transition-delay: .2s;
}
.single-service-item .inner-content h3 {
    margin: 12px 0 12px;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
	color: #fff;
font-weight: 600;
}

.single-service-item .inner-content h3 .title {
    color: #fff;
    transition: all 500ms ease;
}
.single-service-item .inner-content .text {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    padding: 20px 0 17px;
}
.single-service-item .inner-content .text p {
    margin: 0;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
}
.single-service-item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0;
    background:rgba(236,21,90,0.7);
    opacity: 0;
    padding: 0 10px;
    transform: translate3d(0px,-100%,0px);
    transition: all 700ms ease;
        transition-delay: 0s;
    transition-delay: .3s;
}
.single-service-item .icon-holder img {

    width: auto;
    display: block;
    margin: 0 auto;

}.overlay-content h3 {

    margin: 0 0 0;
    font-size: 20px;

}
.overlay-content h3 a{color:#fff;}
.single-service-item .overlay .box {
    display: table;
    height: 100%;
    width: 100%;
}
.single-service-item .overlay .box .content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.single-service-item .overlay .overlay-content .icon-holder {
    margin-bottom: 1px;
}
.overlay-content p {

    color: #fff;
    font-size: 13px;

}
.single-service-item .overlay .overlay-content .read-more {
    overflow: hidden;
}
.single-service-item .overlay .overlay-content .read-more a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 500ms ease;
}
.single-service-item:hover .overlay {
    transform: translate3d(0px,0%,0px);
    transition-delay: .1s; opacity:1;
}
.single-service-item:hover .inner-content {
    transform: translate3d(0px,99%,0px);
    transition-delay: .3s;
}
.single-service-item .img-holder::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.chat_title {

    background: #EC155A;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;

}
.sidebar_panel {

    margin: 0 0 30px;
    border: 1px solid #eee;float: left;

width: 100%;

}
.chat_input { background:url(../images/search.png) no-repeat 10px center;

    width: 100%;
    height: 50px;
    padding: 10px 10px 10px 35px;
	border:none; color:#666;
    border-top: 1px solid #eee;

}.chat_box {

    padding: 10px;float: left;

width: 100%;

}
.chat_box.no-chat {

    text-align: center;
    padding: 30px 20px;

}
.no-chat  h5 {

    font-size: 15px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
    margin: 0 0 15px;

}
#search-page .col-md-4 {

    padding: 0 5px;

}
.chat-user-btn button {

    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    border: none;
    padding: 4px 12px;
    border-radius: 3px;-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;

}
.chat-user-detail h6 {

    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;

}
.chat-user-img img {

    width: 55px;

    border-radius: 50%;

}
.chat_box li{ float:left; width:100%; padding:10px 0}
.chat-user-img, .chat-user-detail, .chat-user-btn {

    float: left;

}
.chat-user-img {

    width: 20%;

}
.chat-user-detail {

    width: 55%;
    padding: 0 10px;

}
.overlay-content .text {

    height: 130px;
    overflow: hidden; margin: 15px 0; padding:0 15px

}
.overlay-content .text p {

    font-weight: 500;
    line-height: 25px;

}
.chat-now a {

    display: inline-block;
    background: #fff;
    color: #EC155A;
    font-weight: 500;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 3px; position:relative;

}
.chat-now a::before {

    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;

}
.search_list_outer {
    padding: 15px 0;
}

.sign-in-up .modal-content{ background:url(../images/login_bg.jpg) bottom center; background-size:cover; padding:30px 50px;border: none;}
.sign-in-up .modal-content h3 {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    text-transform: capitalize;
}
.sign-in-up .modal-dialog {
    width: 60%;
}
.sign-in-up .modal-content h4 {
    text-align: center;
    font-size: 16px;
    margin: 15px 0;
}
.sign-in-up #login-google {
    background: #fff;
    border: none;
    width: 100%;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    text-align: center;
    color: #333;
}
.sign-in-up #login-google svg {
    width: 30px; float:left;
}
.sign-in-up #login-google strong {

   font-size: 15px;

font-weight: 500;

float: left;

margin: 15px 10px 0;

}
.sign-in-up #login-google span {

    display: block;
    width: 190px;
    margin: 0 auto;

}
.sign-in-up .terms-info {

    text-align: center;
    font-weight: 500;
    margin: 10px 0 0;

}
.sign-in-up .divider::before {

    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #ec155a;
    left: 0;
    top: 18px;

}
.sign-in-up .divider {

    text-align: center;
    position: relative;margin: 15px 0;

}
.sign-in-up .signin_panel .form-control {

    border: none;
    border-radius: 0;
    height: 45px;
    font-size: 13px;
    padding: 15px;

}
.sign-in-up .signin_panel a {
    color: #ec155a;
}
.sign-in-up .divider span {

    display: inline-block;
    background: #ec155a;
    color: #fff;
    text-transform: uppercase;
    z-index: 999;
    position: relative;
    padding: 10px;
    border-radius: 50%;

}
.page-section-subscribe a span,	button,button span{webkit-transition: all .5s ease-out;
-moz-transition: all .5s ease-out;
transition: all .5s ease-out;}
.page-section-subscribe a span,	.form-inner button span {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    ms-transform: translate(0,0);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    ms-backface-visibility: hidden;
}
.page-section-subscribe a i.heart1,.banner-form button i.heart1 {
    font-size: 22px; right:47px;
}
.page-section-subscribe a i.heart2,.banner-form button i.heart2 {
    font-size: 18px;
    margin: 0 4px; right:18px;
}
.page-section-subscribe a:hover,.banner-form button:hover{ background:#E12C53}
.page-section-subscribe a i.heart3,.banner-form button i.heart3 {

    font-size: 16px;

}
.page-section-subscribe a i,.form-inner button span i {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    -webkit-transform: translate(40px,-50%);
    -ms-transform: translate(40px,-50%);
    transform: translate(40px,-50%);
    ms-transform: translate(40px,-50%);
    opacity: 0;
}
.page-section-subscribe a:hover span,.form-inner button:hover span {-webkit-transform: translate(-20px,0);
-ms-transform: translate(-20px,0);
transform: translate(-20px,0);
ms-transform: translate(-20px,0);}
.page-section-subscribe a:hover i,.form-inner button:hover span i{opacity: 1;}
.feature-icon,.img-icon img {
    border: 7px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.page-section-feature .col-md-4:hover .feature-icon,.page-section-ptb .col-md-4:hover img{
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
	border-left-color: #EC155A;
    border-top-color:#EC155A;
    border-right-color: #FFBB05;
    border-bottom-color: #FFBB05;
}
.page-section-feature .col-md-4:hover .feature-icon{ background:#fff; color:#EC155A}
#search-page h5 {
    font-size: 17px;
    text-transform: capitalize;
    margin: 0 0 30px -10px;
}
.profile_cover_pic {
    position: relative;
}

.back-search-link a{background: rgba(0,0,0,0.5);
    color: #fff;}
	.back-search-link a {

    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 15px;
    padding: 10px;
    display: inline-block;
    border-radius: 3px;

}
.profile_cover_pic_outer {

    height: 315px;
    width: 100%;
    background-size: cover; padding:20px;

}
.profile_img img {

    border-radius: 50%;
    border: 5px solid #FBAC0E;
    width: 160px;

}.profile_img {

    position: absolute;
    top: -85px; left:30px;

}
.profile_cover_panel {

    padding-left: 200px;
    position: relative;

}
.user_search_inner {

    float: right;

}
.user_search_inner button{ position:relative}
.user_search_inner button::before {

    position: absolute;
    content: "";
    width: 22px;
height: 24px; left:15px;
    background:url(../images/chat-icon.png) no-repeat;

}
.user_search_inner button {

    position: relative;
    color: #fff;
    padding: 10px 20px 10px 40px;
    border-radius: 0;
    border: none;
    font-weight: 600;float: left;-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;

}
.user_search_inner input[type="search"] {

    border: 1px solid #eee;
    height: 40px;
    padding: 10px;
    color: #333;
    float: left; width:67%;

}
.user_info_inner h3 {

    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;

}
.profile_user_info {

    float: left;
    width: 100%; padding:15px 0;

}
.user_search_inner {

    float: right;
    width: 65%;

}

.user_info_inner {

    float: left;
    width: 34%;

}
.profile-user-information {

    float: left;
    width: 100%;
    background: url(../images/intro_bg.png) #fde5ed no-repeat;
    min-height: 80px;
    padding: 25px 25px 25px 100px;
    color: #ec155a;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    font-weight: 500;

}
.row.user_about_info,.row.gallery-box-panel,.row.send-box-panel{ float:left; width:100%; padding:10px 0}
.cont-read {

    font-weight: 800;
    cursor: pointer;

}
.send-box {

    background:#e9eef2 no-repeat left center;
    padding: 30px 30px 30px 160px;

}
.send-box.send-email{ background-image:url(../images/send-emailbg.png)}
.send-box.send-gift{ background-image:url(../images/send-gift-bg.png)}
.send-box h3 {

    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;

}
.send-box a {

    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0 0;-moz-transition: all 300ms linear 0s;
-webkit-transition: all 300ms linear 0s;
transition: all 300ms linear 0s;

}
.user_search_inner button:hover,.chat-user-btn button:hover,.send-box a.btn-bg:hover{ background:#ec155a; color:#fff}
.send-box a i {

    font-size: 24px;
    margin: -2px 6px 0 0;
    float: left;

}
.send-box-panel .col-md-6 {

    padding: 0 5px;

}
.gallery_bg {

    height: 143px; color:#fff;
    width: 100%;
    position: relative; padding:25px 15px;

}
.gallery-title h4 {

    font-size: 14px;
    font-weight: 600;
    padding-left: 13px;margin-top: 15px;

}
.user_about_info .col-md-4,.gallery-box-panel .col-md-4 {

    padding: 0 5px;

}
.gallery_bg::before {

    position: absolute;
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.gallery_icon .fa-heart {

    color: #DF2557;
    font-size: 60px;

}
.gallery_icon {

    position: relative;
    width: 60px; float:left;

}
.gallery_icon .small-icon {

    color: #fff;
    position: absolute;
    left: 21px;
    top: 16px;
    font-size: 20px;

}
.gallery-title {

    position: relative;
    float: left;
    width: 74%;

}
.user_about_info_inner{ border:1px solid #eee; padding:20px;min-height: 480px;}
.user_about_info_inner li {

    margin: 0 0 25px; font-size:12px;
    color: #666;

}
.user_about_info_inner h4 {

    font-size: 23px;
    margin: 0 0 30px;

}
.user_about_info_inner li i {

    color: #EC155A;
    font-size: 16px;
    margin-right: 10px;

}
.user_about_info_inner h6 {

    font-size: 16px;
    color: #666;
    margin: 0 0 15px;

}
.status.online i {
    color: #05E177;
}
.status {
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    position: absolute;
    bottom: 15px;
    left: 200px;
}